%tbody
  = content_tag_for(:tr, conversation) do |conversation|
    %tr
      %td= link_to conversation.subject, conversation_path(conversation)
      %td= conversation.recipients.first.nickname
      %td= conversation.recipients.last.nickname
      %td= conversation.created_at.strftime("%d/%M/%Y at %H:%M:%S")
      %td
        - if conversation.is_completely_trashed?(current_user)
          %span.glyphicon.glyphicon-repeat
          = link_to 'Untrash', untrash_conversation_path(conversation), method: :post
        - else
          %span.glyphicon.glyphicon-trash
          = link_to 'Move to trash', trash_conversation_path(conversation), method: :post