%div{:style => "overflow-y: scroll; height:200px;"}
  %ol
    - User.all.each do |u|
      :javascript
        $(document).ready(function(){
          $("#pick_user a").click(function(){
            var value = $(this).html();
                var input = $('#conversation_recipients');
                input.val(value);
          });
        });
        
      #pick_user
        = link_to u.nickname, "#"
        
= simple_form_for :conversation, url: :conversations do |f|        
  -# Это будет чисто для пользователя, сюда вбиваем ник, а реально мыло пойдет в хидден филд
  
  = f.input :recipients #, collection: User.all, as: :select
  = f.input :subject
  = f.input :body, as: :text
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = f.button :submit, 'Cancel', type: :reset, class: 'btn-danger'
