
= link_to :new_conversation do
  %button.btn.btn-primary
    %span.glyphicon.glyphicon-pencil
    Start Conversation
%hr
.row
  .col-sm-12.col-md-12
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#inbox"}
          %span.glyphicon.glyphicon-inbox
          Inbox
      %li
        %a{"data-toggle" => "tab", :href => "#sent"}
          %span.glyphicon.glyphicon-user
          Sent
      %li
        %a{"data-toggle" => "tab", :href => "#trash"}
          %span.glyphicon.glyphicon-tags
          Trash
    .tab-content
      #inbox.tab-pane.fade.in.active
        %table.table
          %caption Your inbox
          - if mailbox.inbox.any?
            %thead
              %tr
                %th Subject
                %th From
                %th To
                %th Date
                %th Actions
            = render collection: mailbox.inbox, partial: 'conversation'
          - else
            .alert.alert-warning{style: "margin-top:20px;"}
              There's no messages yet.
              = link_to :new_conversation do
                %button.btn.btn-default
                  %span.glyphicon.glyphicon-envelope
                  Message somebody?
              
      #sent.tab-pane.fade.in
        %table.table
          %caption Sent messages
          %thead
            %tr
              %th Subject
              %th From
              %th To
              %th Date
              %th Actions
          = render collection: mailbox.sentbox, partial: 'conversation'
      #trash.tab-pane.fade.in
        %table.table
          %caption Trash bin
          %thead
            %tr
              %th Subject
              %th From
              %th To
              %th Date
              %th Actions
          = render collection: mailbox.trash, partial: 'conversation'