%h1
  %small
    Message from
  = conversation.recipients.last.nickname
%table.table
  %caption= conversation.subject
  %thead
    %tr
      %th Subject
      %th Message
  %tbody
    = content_tag_for(:tr, conversation.receipts_for(current_user)) do |receipt|
      - message = receipt.message
      %tr
        %td{style: "width:20%"}= message.subject
        %td{style: "width:80%"}= message.body
      
= render 'messages/form', conversation: conversation