.row
  .col-md-8
    %h1= User.find(params[:id]).nickname
    %p= User.find(params[:id]).about
  .col-md-4
    - if User.find(params[:id]).avatar.present?
      = image_tag User.find(params[:id]).avatar.url(:medium), :class => "thumbnail", :style=>"width:100%"
