You have a new reply: #{@subject}
\===============================================

You have received a new reply:

\-----------------------------------------------
\#{@message.body.html_safe? ? @message.body : strip_tags(@message.body)}
\-----------------------------------------------

-#Visit #{root_url} and go to your inbox for more info.
