- if @tournament.comments.any?
  %h2 Comments
  - @tournament.comments.each do |comment|
    .media
      .media-left
        = link_to comment.user do
          = image_tag comment.user.avatar.url, class: "media-object img-thumbnail", style:"height:64px; width:64px;"
      .media-body
        %h4.media-heading
          = link_to comment.user do
            = comment.user.nickname
        = comment.body
        %hr
        - if comment.user_id == current_user.id
          = link_to tournament_comment_path(comment.tournament_id, comment.id), :method => 'delete' do
            Remove Comment
            %span.glyphicon.glyphicon-remove