%h4
  Replay:
  - if @tournament.replay.url.present? && @tournament.replay.url != '/replays/original/missing.png'
    = link_to @tournament.replay.url do
      Download
  - else
    N/A
%h4 Date And Time
%p
  = @tournament.starting_at.strftime("%-d %b at %H:%M")
  - if @tournament.ending_at.present?
    \-
    = @tournament.ending_at.strftime("%-d %b at %H:%M")
%h4 Created By
%p
  = link_to @tournament.user.nickname, user_path(@tournament.user)
-#%h4 map
-#%p
  - if @tournament.map_link.present?
    = link_to @tournament.map_link, :target => "_blank" do
      = @tournament.map_name
  - else
    = @tournament.map_name
- if @tournament.upcoming?
  %span.label.label-primary
    Upcoming tournament
    %span.glyphicon.glyphicon-arrow-up
- elsif @tournament.ended?
  %span.label.label-default
    tournament ended
    %span.glyphicon.glyphicon-arrow-down
- else
  %span.label.label-success
    Takes Place Right Now
    %span.glyphicon.glyphicon-hand-right