:javascript
  $("button span.fa").addClass("glyphicon glyphicon-calendar");

= simple_form_for @tournament do |f|
  .row
    .col-md-3
      = f.input :name, autofocus: true
      = f.input :description, as: :text, :input_html => {:rows => 5}
    .col-md-3
      = f.input :player1, as: :string
      = f.input :player2, as: :string
    .col-md-3
      = f.input :map_name
      = f.input :map_link, :hint => "http://example.com/fighting_spirit_1_3.scx"
    .col-md-3
      = f.input :starting_at, as: :datetime_picker
      = f.input :ending_at, as: :datetime_picker
  .row
    .col-md-12
      = f.input :replay, as: :file
      = f.input :map_image, as: :file
  = f.button :submit, :class => "btn-primary"