= image_tag @tournament.map_image.url, {style: "width:100%", class: "thumbnail"}
-# if user_signed_in?
  = link_to attend_tournament_path(@tournament), method: :post, class: 'btn btn-block btn-primary' do
    %span.glyphicon.glyphicon-plus-sign
    Attend