.alert.alert-success{:role => "alert", style: "margin-bottom:0;"}
  .text-center
    = @tournament.player1
%h2.text-center{style: "margin-top:0;"}
  %small
    \- VS -
.alert.alert-danger{:role => "alert"}
  .text-center
    = @tournament.player2