.row
  .col-md-2
    = link_to tournaments_path, class: 'btn btn-block btn-primary' do
      %span.glyphicon.glyphicon-refresh
      Refresh
  .col-md-8
    %h1.text-center{style: "margin:0 auto;"}
      Tournaments
      %br
      %small.text-center
        
        = @tournaments.count
        = "tournament".pluralize(@tournaments.count)
        up so far
  .col-md-2
    - if user_signed_in?
      - if current_user.has_role? :admin
        = link_to new_tournament_path, class: 'btn btn-block btn-success' do
          %span.glyphicon.glyphicon-plus
          New
- if @tournaments.any?
  %br
  - @tournaments.each_with_index do |tournament, index|
    .thumbnail  
      .row
        .col-md-2
          = image_tag "http://placehold.it/300x300", style: "width:100%;"
        .col-md-8
          .row
            .col-md-12
              %h1{style: "margin:0 auto;"}
                = link_to tournament do
                  = tournament.name
              - if tournament.starting_at.present?
                %small
                  %span.glyphicon.glyphicon-time  
                  = tournament.starting_at.strftime("%e %b at %H:%M")
                  - if tournament.ending_at.present?
                    \-
                    = tournament.ending_at.strftime("%e %b at %H:%M")
          .row
            .col-md-12
              %p= tournament.description
        .col-md-2
          - if user_signed_in?
            - if tournament.user_id == current_user.id
              = link_to tournament_path(tournament), class: 'btn btn-block btn-danger', method: :delete do
                %span{ :class => "glyphicon glyphicon-trash" }
                Remove
              = link_to edit_tournament_path(tournament), class: 'btn btn-block btn-default' do
                %span{ :class => "glyphicon glyphicon-pencil" }
                Edit
          = link_to tournament_path(tournament), class: 'btn btn-block btn-primary' do
            %span{ :class => "glyphicon glyphicon-plus" }
            Read More
  
- else
  .alert.alert-warning
    %h1
      = t('ui.alert.empty')
    = t('ui.alert.wdy')
    = link_to t('ui.alert.co'), new_tournament_path
    ?
.text-center
  = will_paginate @tournaments