- @tournament.users.each do |user|
  .row
    .col-md-9
      = user.email
    .col-md-3.text-right
    - if user.going?
      = link_to approve_user_tournament_path(@tournament, { user_id: user.id }), method: :post, remote: true do
        %span.glyphicon.glyphicon-thumbs-up
      %button.btn.btn-danger
        %span.glyphicon.glyphicon-thumbs-down