
= link_to tournaments_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-chevron-left
  Tournaments
%div
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "details", "data-toggle" => "tab", :href => "#details", :role => "tab"} Details
    
    - if user_signed_in?
      - if current_user.has_role? :admin
        %li{:role => "presentation"}
          %a{"aria-controls" => "attending", "data-toggle" => "tab", :href => "#attending", :role => "tab"}
            %span.glyphicon.glyphicon-user
            Attending
  %h1
    = @tournament.name
    
    - if user_signed_in?
      .text-right
      - if @tournament.user.id == current_user.id
        = link_to edit_tournament_path(@tournament), class: 'btn-xs btn btn-default' do
          %span{ :class => "glyphicon glyphicon-pencil" }
          = t('ui.button.edit')
        = link_to tournament_path(@tournament), class: 'btn-xs btn btn-danger', method: :delete do
          %span{ :class => "glyphicon glyphicon-trash" }
          = t('ui.button.delete')

  .tab-content
    #details.active.tab-pane{:role => "tabpanel"}
      .row
        .col-md-6
          .row
            .col-md-6
              = render "map_and_attend"
            .col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title Details
                .panel-body
                  = render "players"
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading
                  %h3.panel-title Details
                .panel-body
                  = render "details"
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading
                  %h3.panel-title Description
                .panel-body
                  = render "description"
        .col-md-6
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading
                  %h3.panel-title Comments
                .panel-body
                  = render 'comments'
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading
                  %h1.panel-title Add a Comment
                .panel-body
                  - if user_signed_in?
                    = simple_form_for([@tournament, @tournament.comments.build], html: { class: "form form-horizontal meme" }) do |f|
                      %p
                        = f.text_area :body, class: 'form-control'
                      %p
                        = f.button :submit do
                          %button.btn.btn-primary
                            Submit
                  - else
                    .alert.alert-info
                      Please
                      = link_to new_user_session_path do
                        login
                      or
                      = link_to new_user_registration_path do
                        register
                      to leave a comment!
              
    #attending.tab-pane{:role => "tabpanel"}
      - if user_signed_in?
        - if current_user.has_role? :admin
          .row
            .col-md-12
              %table.table.table-striped
                - @tournament.users.reverse.each_with_index do |e, index|
                  %thead
                    - if index == 0
                      %tr
                        %th #
                        %th AKA
                %tbody
                  - @tournament.users.reverse.each_with_index do |e, index|
                    %tr
                      %th{:scope => "row"}= index + 1
                      %td
                        = link_to e.nickname, user_path(e.id)

