.row
  .col-md-12.text-center
    %span.glyphicon.glyphicon-bullhorn{style: "font-size:100px"}
.row
  .col-md-12.text-center
    %h1 Contact us
    %hr
    %h3
      %small contact email:
      polsenat@gmail.com
    %h3 Join us!
    %ul
      %li
        Ruby On Rails developer wanted!
      %li
        Web designer wanted!
      %li
        Front-end developer wanted!
    %h3 Do no hesitate to contact us!
    %h2
      %small
        — broodwar.co.uk team