.row
  .col-md-4.text-center
    .panel.panel-default
      .panel-heading
        %h4= t('.sign_in', :default => "Sign in")
      .panel-body
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: "form-control"
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: "form-control"
          - if devise_mapping.rememberable?
            .checkbox
              %label
                = f.check_box :remember_me
                = f.label :remember_me
          = f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary"
    = render "devise/shared/links"
  .col-md-8
    %h1 The benefits of a registering here:
    %h2
      %span.glyphicon.glyphicon-ok
      Message other users
    %h2
      %span.glyphicon.glyphicon-ok
      Attend on tournaments
    %h2  
      %span.glyphicon.glyphicon-ok
      Read latest news about StarCraft: Brood War