= simple_form_for @post do |f|
  .row
    .col-md-12
      = f.input :name, autofocus: true
      = f.input :description, as: :wysihtml5, :input_html => {:rows => 25}
      = f.button :submit, :class => "btn-primary"