= link_to posts_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-refresh
  Refresh
- if @posts.any?
  %h1.text-center News and updates:
  - @posts.each do |p|
    = link_to p do
      %h2= p.name
    %small
      %span.glyphicon.glyphicon-time
      = p.created_at.strftime("%-d %b at %H:%M")
    %p
      = p.description.split[0...100].join(' ').html_safe
      %br
      = link_to p do
        %span.glyphicon.glyphicon-menu-right
        Read More
    - if p != @posts.last 
      %hr
.text-center
  = will_paginate @posts, renderer: BootstrapPagination::Rails