.row
  .col-md-12
    %h2
      = @post.name
      %br
      %small
        %span.glyphicon.glyphicon-time
        = @post.created_at.strftime("%-d %b at %H:%M")
    = @post.description.html_safe
 
    - if user_signed_in?
      - if current_user.has_role? :admin
        %hr
        = link_to edit_post_path(@post), class: 'btn btn-default', style: 'margin:0' do
          %span{ :class => "glyphicon glyphicon-pencil" }
          = t('ui.button.edit')
        = link_to post_path(@post), class: 'btn btn-danger', method: :delete, style: 'margin:0' do
          %span{ :class => "glyphicon glyphicon-trash" }
          = t('ui.button.delete')