
.row
  .col-md-4
    - if current_user.avatar.present?
      = image_tag current_user.avatar.url(:medium), :class => "thumbnail", :style=>"width:100%"
    .list-group
      %a.list-group-item.active{:href => profile_path}
        Public Information
      %a.list-group-item{:href => edit_user_registration_path} Settings
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h4 Edit your public info
      .panel-body
        = simple_form_for current_user, url: profile_path, method: :post do |f|
          .row
            .col-md-6
              = f.input :nickname, autofocus: true
              = f.input :avatar, as: :file
              - if current_user.avatar?
                = image_tag current_user.avatar.url(:thumb) 
            .col-md-6
              = f.input :about, as: :text, :input_html => {:rows => 10}
          = button_tag(type: 'submit', class: "btn btn-primary") do
            %span.mdi-content-save
            = t('ui.profile.save')
        = link_to "My Account", edit_user_registration_path
      