!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Broodwar Gaming Portal
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'app/assets/images/favicon.png'
    = csrf_meta_tags
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %meta{:content => "initial-scale = 1.0,maximum-scale = 1.0", :name => "viewport"}/
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -#%a.navbar-brand{:href => "#"}
          = link_to root_path, class:"navbar-brand" do
            = image_tag "logo.png", style: "height:64px"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to tournaments_path do
                %span.glyphicon.glyphicon-screenshot
                Tournaments
            %li.active
              %li.page-scroll
                = link_to posts_path do
                  %span.glyphicon.glyphicon-book
                  News
              %li.page-scroll
                = link_to contacts_path do
                  %span.glyphicon.glyphicon-info-sign
                  Contacts
              
            
          - if user_signed_in?
            - if current_user.has_role? :admin
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %span.glyphicon.glyphicon-dashboarde
                    Dashboard
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to new_post_path do
                        %span.glyphicon.glyphicon-book
                        New post
                    %li    
                      = link_to new_tournament_path do
                        %span.glyphicon.glyphicon-screenshot
                        New tournament
                      
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %span.glyphicon.glyphicon-tasks
                  Menu
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to conversations_path do
                      %span.glyphicon.glyphicon-envelope
                      Messages
                  %li
                    = link_to user_path(current_user) do
                      %span.glyphicon.glyphicon-user
                      Profile
                  %li
                    = link_to profile_path do
                      %span.glyphicon.glyphicon-cog
                      Settings
                  %li.divider{:role => "separator"}
                  %li
                    = link_to destroy_user_session_path, :method => :delete do
                      %span.glyphicon.glyphicon-off
                      Logout
          - else
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to new_user_session_path do
                  %span.glyphicon.glyphicon-user
                  Login
          - if user_signed_in?
            - if current_user.avatar.url.present?
              %ul.nav.navbar-nav.navbar-right
                = link_to current_user do
                  %li.dropdown{:class=> "img-circle", :style=> "background:url(#{current_user.avatar.url}); background-size:48px 48px;height:48px; width:48px; margin:8px;"}
                  -#= current_user.nickname
              
    -#%nav.navbar.navbar-default.navbar-fixed-top

              %li
                .dropdown{"aria-controls" => "profileCollapse", "aria-expanded" => "true", "data-target" => "#profileCollapse", "data-toggle" => "collapse", :class => "profile"}
                  %span.glyphicon.glyphicon-user
                   
                          
                

                    
                  
            
            
              %h4
                %small
                  Upcoming Game
                %br
                - Tournament.all.take(1).each do |t|
                  - if t.starting_at < DateTime.now
                    = link_to t.name, tournament_path(t)
    .container
      .row
        .col-md-12      
          = bootstrap_flash
          = yield                
      -#= (!t.starting_at.nil? && t.starting_at - DateTime.now)/36000
          
        %footer.footer
          .container
            %p.text-muted.text-center
              v. 0.4.1

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44943548-2', 'auto');
  ga('send', 'pageview');
  
:javascript
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });